.rate-star {
  display: flex;

  &__label {
    cursor: pointer;
  }
  &__input {
    display: none;
  }

  &--selected {
    color: $yellow;
  }
  &--size-normal {
    font-size: 24px;
  }
  &--size-small {
    font-size: 16px;
  }
}